*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color:dimgray;
}
p{
    color: dimgray;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-color: 1px solid darkgrey;
}
.field{
    width: 400px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}
.b1{
    padding: 10px 15px 10px 15px;
}
.b2{
    padding: 10px 15px 10px 15px;
    background-color: black;
    color: white;
}
.row{
background-image:url(udemyimges/bf1bd00b-e65c-4d18-8b3a-0176cfbb3601\ \(1\).jpg);
background-size: cover;
height: 400px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px 100px;
}
.col-2 .hcolor{
    background-color: white;
    width: 400px;
    padding: 10px;
}
.col-2 .pcolor{
    background-color: white;
    width: 400px;
    padding: 10px;
}
.second-container{
    padding-left: 20px;
    margin: 10px;
}
.second-container p{
    margin-top: 10px;
}
.course{
    flex: 1;
    text-align: left;
    font-weight: bold;
    padding-left: 30px;
}
ul li{
    display: inline-block;
    margin-right: 25px;
}
.third-container{
    font-size: larger;
    font-weight: 300;
    padding-left: 30px;
    margin-top: 20px;
}
.third-container p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.third-container button{
    padding: 10px 20px 10px 20px;
    background-color: white;
    margin-top: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.categories{
    flex: 1;
    text-align: center;
    margin-top: 20px;
}
.row2 .col-3 {
    display: inline-block;
    list-style: none;
}
.col-3 img{
    display: inline-block;
    margin-right: 25px;
    width: 230px;
    margin-bottom: 20px;  
}
.row2 .col-3 p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.row2 .col-3 h4{
    padding-bottom: 10px;
}
.rating{
    color: orange;
}
.col-3{
    margin-bottom: 200px;
}
.content{
display: flex;
align-items: center;
 justify-content: space-between;
 padding-left: 30px;
 padding-right: 30px;
 margin-top: 50px;
 
}
.others{
    display: flex;
align-items: center;
justify-content: space-between;
 padding-left: 30px;
 padding-right: 30px;
 margin-top: 50px;

}
.blue{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 0px;
    

}
h2{
    margin-bottom: 20px;
}
.borders{
    border: 1px solid gray;
    background-color:blanchedalmond;
    margin-bottom: 130px;
}
.featured ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-left: 130px;
     padding-right: 130px;
     margin-top: 50px;
}
.featured ul h3{
    color: blue;
    text-decoration-line: underline;
    text-decoration-color:blue ;
    text-decoration-style: solid ;
}
.featured.h2{
    color: black !important;
    margin-bottom: 20px;

    
}
.featured ul .right{
    margin-right: 70px;
}
.featured{
  height: auto;
    background-color:gainsboro;
    margin-right: 20px;
    margin-top: 50px;
}
.explore{
    padding: 10px;
    margin-top: 40px;
    margin-left: 120px;
background-color: white;
color: black;
font-weight: 800;
}
.last{
    margin-left: 400px;
    margin-top: 150px;
    padding-bottom: 100px;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.part-1 p{
    font-weight: 400;
    font-size: larger;
    color: black;
    margin-top: 20px;
}
.part-1 button{
    padding: 10px 12px 12px 10px;
    margin-top: 30px;
}
.part-1 .btn1{
    background-color: black;
    color: #fff;
}
.part-1 .btn2{
    background-color:#fff;
    color:black;
}
.parts{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}
.part-1{
    padding-right: 60px;
}
.part-2{
    padding-left: 60px;
}
.secondpart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.part-3{
    padding-right: 60px;
}
.part-4{
    padding-left: 60px;
}
.part-4 p{
    font-weight: 400;
    font-size: larger;
    color: black;
    margin-top: 20px;
}
.part-4 button{
    padding: 10px 12px 12px 10px;
    margin-top: 30px;
}
.part-4 .btn1{
    background-color: black;
    color: #fff;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: black;
    
    
}
.footer p{
    font-style: normal;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    padding: 5px;
    font-size:medium;
}
.footer .list-1{
    margin-top: 20px;
    margin-left: 50px;
}
.footer .list-1 img{
    margin-top: 50px;
}
.footer .list-2{
    margin-top: 20px;
    margin-left: 50px;
}
.footer .list-3{
    margin-top: 20px;
    margin-left: 50px;
}
.footer .list-4 button{
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px 40px 10px 40px;
    background-color: black;
    color: #fff;
    border-color: #fff;
}
.footer .list-4 p{
    margin-top: 120px;
    font-size: smaller;
    font-weight: 100;
}
.featured ul li{
    margin-top: 20px;
}












































































































